.view{
    &-list{
        // display: none;
        // padding: 20px 10px;
    }
    &-item{
        padding: 20px 10px;
        transition: transform .3s ease-in;
        
        &:not(:last-child){
            border-bottom: 1px solid var(--secondary);
        }
        cursor: pointer;
        & h2{
            color: var(--text-color);
            margin-bottom: 10px;
        }
        &:hover{
            transform: scale(1.01);
        }


    }
}